body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#wrapper {
  display: flex;
  justify-content: stretch;
}

#editor {
  display: block;
  height: 99vh;
  width: 48vw;
  margin-right: 4vw;
  flex: 1;
}

#preview {
  width: 48vw;
}
